* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.container-new {
    width: 100%;
}

.container-new .main-section-new {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 15rem;
}

.container-new.main-section-new h3 {
    font-size: 2em;
}

.container-new .main-section-new p {
    font-size: 14px;
    margin: 0.5rem 0;
    color: rgb(103, 110, 119);
}

.container-new .main-section-new button {
    padding: 1rem 5rem;
    color: black;
    font-size: 16px;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid #6f6af8;
    border-radius: 0.3rem;
    font-weight: bold;
}

.container-new .main-section-new .primary-new {
    background-color: #6f6af8;
    color: white;
}

.container-new .main-section-new .primary-new:hover {
    background-color: #ffffff;
    color: black;
    transition: .3s ease-in-out;
    transform: translateY(-10px);
    transition: .3s ease;
}

.container-new .main-section-new .secondary-new {
    background-color: #ffffff;
    color: black;
    transition: .3s ease-in-out;
}

.container-new .main-section-new .secondary-new:hover {
    background-color: #6f6af8;
    color: white;
    transition: .3s ease-in-out;
    transform: translateY(-10px);
    transition: .3s ease;
}

.container-new .main-section-new .imgContainer-new {
    width: 100%;
    margin: auto;
}

.container-new .main-section-new .imgContainer-new img {
    width: 100%;
}

/* Rating Section */
.container-new .rating-new {
    display: grid;
    gap: 10px;
    text-align: center;
    color: #6f6af8;
    margin-top: 20px;
}

.container-new .rating-new .title-new {
    font-size: 1.5em;
}

.container-new .rating-new .title-new p {
    font-size: 20px;
    margin: 0.5rem 0;
    color: black;
}

.features-new .title-new h4 {
    margin: 40px;
    text-align: center;
}

.features-new .imgContainer-new {
    width: 80%;
    margin: auto;
}

.features-new .imgContainer-new img {
    width: 100%;
    margin: auto;
}

/* Services Section */
.services-new h2 {
    font-size: 2em;
    text-align: center;
    color: #6f6af8;
}

.services-new .hr-line-new {
    width: 100px;
    margin-left: 270px;
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 20px;
}

.services-new .hr-line-new:hover {
    width: 200px;
    border: 2px solid #6f6af8;
    transition: 0.5s ease;
}

.services-new .ser-desc-new {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

.container-new .services-new .service-items-new {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.container-new .services-new .service-items-new i {
    color: white;
}

.container-new .services-new .service-items-new .service-1-new {
    background-color: #6f6af8;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    padding: 30px;
}

.container-new .services-new .service-items-new .service-2-new {
    background-color: #6f6af8;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-new .services-new .service-items-new .service-3-new {
    background-color: #6f6af8;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    padding: 30px;
}

.container-new .services-new .service-items-new .service-1-new .title-new {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.container-new .services-new .service-items-new .service-2-new .title-new {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.container-new .services-new .service-items-new .service-3-new .title-new {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.container-new .services-new .service-items-new .service-1-new:hover {
    transform: translateY(-20px);
    transition: .5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-new .services-new .service-items-new .service-2-new:hover {
    transform: translateY(-20px);
    transition: .5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-new .services-new .service-items-new .service-3-new:hover {
    transform: translateY(-20px);
    transition: .5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Our Client Section */
.clients-new .heading-new h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.clients-new .heading-new .hr-line-new {
    width: 100px;
    margin-left: 270px;
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 20px;
}

.clients-new .heading-new .hr-line-new:hover {
    width: 200px;
    border: 2px solid #6f6af8;
    transition: 0.5s ease;
}

.clients-new .heading-new .desc-new {
    text-align: center;
}

.clients-new .boxes-new {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    margin-bottom: 30px;
}

.clients-new .boxes-new .imgContainers-new {
    width: 100%;
    padding: 30px;
    border: 1px solid black;
    filter: grayscale(100%);
}

.clients-new .boxes-new .imgContainers-new:hover {
    filter: none;
    cursor: pointer;
}

.clients-new .boxes-new .imgContainers-new img {
    width: 100%;
    margin: auto;
}

.clients-new .heading-new h2 {
    font-size: 2em;
    text-align: center;
    color: #6f6af8;
}

.clients-new .heading-new .hr-line-new:hover {
    width: 200px;
    border: 2px solid #6f6af8;
    transition: 0.5s ease;
}

/* Features Section */
.container-new .features-new .heading-new {
    display: grid;
    gap: 10px;
    text-align: center;
    color: #6f6af8;
    margin-top: 20px;
}

.container-new .features-new .feature-1-new .imgContainer-new {
    width: 50%;
}

.container-new .features-new .feature-1-new .imgContainer-new img {
    width: 100%;
    margin: auto;
}

.container-new .features-new .feature-1-new .subtitle-new h3 {
    display: grid;
    gap: 10px;
    /* text-align: center; */
    color: #6f6af8;
    margin-top: 20px;
    margin-left: 50px;
}

.container-new .features-new .feature-1-new .subtitle-new h2 {
    display: grid;
    gap: 10px;
    /* text-align: center; */
    color: black;
    margin: 10px 20px 20px 50px;
}

.container-new .features-new .feature-1-new .subtitle-new p {
    font-size: 15px;
    justify-content: justify;
    margin-left: 50px;
}

.container-new .features-new .feature-1-new button {
    background-color: #6f6af8;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #6f6af8;
    border-radius: 5px;
    margin: 10px 40px;
}

/* Project Scenarios */
.container-new .projects-new {
    margin: 3rem 0;

    h1-new {
        font-size: 18px;
        text-align: center;
        margin: 1rem 0;
        color: #6f6af8;
    }

    .projects-container-new {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 80%;
        margin: auto;

        .project-new {
            border: 1px solid #ddd;
            padding: 3rem 1rem;
            text-align: left;
            border-radius: 0.3rem;
            width: 100%;

            .imgContainer-new {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.container-new .background-new {
    width: 100%;
    padding: 4rem 2rem;
    background-image: linear-gradient(to right, #ae00ff, #4ca1af);
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-new .background-new .content-new {
    width: 90%;
    margin: auto;
    color: white;
}

.container-new .background-new .content-new .title-new h2 {
    margin: 1rem 0;
}

.container-new .background-new .content-new .title-new p {
    margin: 1rem 0;
    font-size: 14px;
    color: white;
}

.container-new .background-new .content-new button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    color: #000;
    font-weight: 500;
    transition: all .3s ease;
}

/* Contact Us Section */
.container-new .contact-new .main-section-new {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.container-new .contact-new .main-section-new .contact-form-new h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container-new .contact-new .main-section-new .contact-form-new p {
    color: gray;
    padding: 1rem 0;
}

.container-new .contact-new .main-section-new .contact-form-new form {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.container-new .contact-new .main-section-new .contact-form-new form input {
    width: 500px;
    padding: 14px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.container-new .contact-new .main-section-new .contact-form-new form textarea {
    width: 500px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.container-new .contact-new .main-section-new .contact-form-new form button {
    padding: .8rem 1rem;
    font-size: 16px;
    background-color: #6f6af8;
    border: none;
    color: #fff;
    border-radius: .3rem;
    margin: 1rem 0;
    box-shadow: #0000001a 0 4px 12px;
    transition: all .3s ease;
}

/* Contact Info Section */
.contact-info-new {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
    gap: 2rem;
    /* Add spacing between items */
}

/* Image Container */
.img-container-new {
    flex: 0 0 auto;
    /* Don't grow or shrink, maintain initial size */
    width: 100%;
    text-align: center;
}

/* Email Section, PhoneNum, Location, SocialMedia */
.email-section-new,
.phone-num-new,
.location-new,
.social-media-new {
    flex: 1 1 100%;
    /* Allow items to grow, but don't shrink */
    text-align: center;
}

/* SVG Icons */
.contact-info-new svg {
    margin-right: 0.5rem;
    vertical-align: middle;
}

/* Phone Number */
.phone-num-new {
    margin-top: 1rem;
}

/* Social Media Icons */
.social-media-new {
    margin-top: 1rem;
}

/* Social Media Icons - Individual */
.social-media-new a {
    margin-right: 1rem;
}


/* Footer */
.footer-new {
    margin-top: 30px;
    background-color: #001529;
    position: relative;
    padding: 3rem 0;
}

.footer-new .footer-container-new {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    padding: 2rem;
    color: #789;
}

.footer-new .footer-container-new h3 {
    color: #fff;
}

.footer-new .footer-container-new .logo-new {
    width: 50%;
}

.footer-new .footer-container-new .logo-new img {
    padding: .5rem 2rem;
    box-shadow: #959da533 0 8px 24px;
    margin: 1rem 0;
    border-radius: .3rem;
    background-color: #fff;
    width: 80%;
}

.footer-new .footer-container-new .pages-new {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.footer-new .footer-container-new .pages-new a {
    text-decoration: none;
    color: gray;
    padding: .3rem 0;
}

.footer-new .footer-container-new .pages-new a:hover {
    color: #d3d3d3;
}

.footer-new .footer-container-new .services-new {
    margin: 1rem 0;
}

.footer-new .footer-container-new .services-new div {
    padding: .3rem 0;
}

.footer-new .footer-container-new .info-new {
    margin: 1rem 0;
}

.footer-new .footer-container-new .info-new div {
    padding: .3rem 0;
}

.footer-new .footer-container-new .support-new {
    margin: 1rem 0;
}

.footer-new .footer-container-new .support-new div {
    padding: .3rem 0;
}

.footer-new .copyright-new {
    text-align: center;
    background-color: #001f3f;
    color: #fff;
    padding: 1rem;
    box-shadow: #64646f33 0 7px 29px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-new .bg-image-new {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 90%;
}

.footer-new .bg-image-new img {
    width: 90%;
}

.footer-new .back-btn-new {
    position: absolute;
    top: -1.5rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-new .back-btn-new div {
    background-color: #001529;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Contact us section */
@media (min-width: 768px) {
    .container-new .main-section-new h3 {
        font-size: 3.5em;
    }

    .container-new .main-section-new button {
        width: auto;
    }

    .container-new .main-section-new .imgContainer-new {
        width: 50%;
    }

    /* Next Section */
    .features-new .imgContainer-new {
        width: 50%;
    }

    .services-new .hr-line-new {
        margin-left: 950px;
    }

    /* Client sections */
    .clients-new .boxes-new {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Our Features II */
    .container-new .features-new .feature-1-new .imgContainer-new {
        width: 40%;
    }

    /* Projects */
    .container-new .projects-new .projects-container-new {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Footer */
    .footer-new .footer-container-new {
        grid-template-columns: repeat(2, 50%);
    }

    .footer-new .footer-container-new .logo-new {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    /* Client sections */
    .clients-new .boxes-new {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-new .footer-container-new {
        grid-template-columns: repeat(5, 20%);
        justify-content: space-between;
    }

    .footer-new .footer-container-new .logo-new {
        width: 80%;
    }
}

@media (min-width: 920px) {
    .container-new .projects-new .projects-container-new {
        grid-template-columns: repeat(3, 1fr);
    }
}